@import "tailwindcss";
/* Universal css : --->  */

/* // <weight>: Use a value from 300 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */
* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Defining universal variables  */
:root {
    --universal-dark-bg: #0f0f0f;
    --universal-dark-bg-2: #242424;
    --universal-light-bg: #181818;
}